.body-vistaeducador{
    background-image: url(../../public/images/bienvenida/Fondo-bienvenida.png);
    width: 100%;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    min-height: 85vh;
}

.texto-bienvenida{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.texto-bienvenida:hover {
    transform: scale(1.1); /* Aumenta el tamaño del texto al pasar el cursor */
}

.texto-bienvenida h1{
    font-size: 40px;
    color: #fff ;
    font-weight: bolder;
    font-style: oblique;
}

.img-primero{
    width: 265px;
    margin-left: 130px;
}

.img-primero:hover {
    transform: scale(1.1); /* Aumenta el tamaño de la imagen al pasar el cursor */
}

.img-segundo{
    width: 265px;
    margin-left: 40px;
}

.img-segundo:hover {
    transform: scale(1.1); /* Aumenta el tamaño de la imagen al pasar el cursor */
}

.img-tercero{
    width: 270px;
    margin-right: 60px;
}

.img-tercero:hover {
    transform: scale(1.1); /* Aumenta el tamaño de la imagen al pasar el cursor */
}

.texto-grados{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.texto-grados h1{
    font-weight: bolder;
    font-size: 25px;
    font-style: oblique;
    color: #fff;
}

.texto-grados:hover {
    transform: scale(1.1); /* Aumenta el tamaño del texto al pasar el cursor */
}