/* src/dashboard-components/NavBarDashboard.css */
.user-dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown-menu {
  display: block;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
  min-width: 160px;
  border-radius: 4px;
  overflow: hidden;
}

.dropdown-header {
  padding: 12px;
  background-color: #f1f1f1;
  border-bottom: 1px solid #ddd;
}

.dropdown-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu li {
  padding: 12px;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: #ddd;
}