.sidebar {
    height: 100vh;
    background-color: #ffffff;
    width: 80px;
    padding: 10px;
    position: fixed;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.sidebar .logo {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar .logo .image {
    max-width: 45px;
    height: auto;
}

.btn-primary-activity-ludi{
    border-radius: 100px;
    width: fit-content;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .btn-primary-activity-ludi:hover {
      color: #fff;
      background-color: #0056b3;
      border-color: #004085;
    }
    
    .btn-primary-activity-ludi:focus, .btn-primary-activity-ludi:active {
      outline: none;
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
    }
    
    .btn-primary-activity-ludi:disabled {
      color: #fff;
      background-color: #007bff;
      border-color: #007bff;
      opacity: 0.65;
      cursor: not-allowed;
    }


    .btn-success-activity-ludi{
        border-radius: 100px;
        width: fit-content;
        color: #fff;
        background-color: #28a745;
        border-color: #28a745;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      }
      
      .btn-success-activity-ludi:hover {
          color: #fff;
          background-color: #218838;
          border-color: #1e7e34;
        }
        
        .btn-success-activity-ludi:focus, .btn-success-activity-ludi:active {
          outline: none;
          box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
        }
        
        .btn-success-activity-ludi:disabled {
          color: #fff;
          background-color: #28a745;
          border-color: #28a745;
          opacity: 0.65;
          cursor: not-allowed;
        }

.titulo-actividad {
  font-size: 1.5rem;
    height: 3rem;
    width: 100%;
    min-width: 200px;
    max-width: 100%;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: none;
    outline: none;
    text-decoration: underline;
    text-decoration-color: blue;
}

.contenedor-titulo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icono-titulo {
  color: blue;
  font-size: 2rem;
}

